<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrape Result</title>
  </head>
  <body>
    <h1>Scrape Result</h1>
    <p id="name"><strong>Student Name:</strong> <%= name %></p>
    <p id="Percentage">
      <strong>Total Percentage:</strong> <%= total_percentage %>
    </p>
  </body>
</html>
